<template>
  <h1>Cat Facts</h1>
  <div v-if="loading">
    <p>Loading facts...</p>
  </div>
  <div v-else class="cards">
    <FactCard
      v-for="(item, index) in facts"
      :fact="item.fact"
      :key="item"
      :index="index +1"
    />
  </div>
</template>

<script>
import FactCard from './components/FactCard.vue'
import axios from 'axios';

export default {
  name: 'App',
  components: {
    FactCard
  },
  data() {
    return {
      loading: true,
      facts: []
    }
  },
  methods: {
    async getCatFacts() {
      try {
        const response = await axios.get('https://catfact.ninja/facts?limit=9');
        let list = response.data.data;
        this.facts = list.sort((a, b) => a.fact.localeCompare(b.fact));
        this.loading = false;
      } catch (error) {
        console.error(error);
      }
    }
  },
  mounted() {
    this.getCatFacts();
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin: 0 auto 5%;
  max-width: 1000px;
  padding: 1em;
}
</style>
