<template>
	<article class="card">
		<h2>#{{ this.index }}</h2>
		<p>{{ this.fact }}</p>
	</article>
</template>

<script>

export default {
	name: 'FactCard',
	props: {
		fact: String,
		index: Number
	}
}

</script>

<style scoped>

.card {
	border: 1px solid #ccc;
	border-radius: 10px;
	flex: 0 100%;
	flex-grow: 1;
	padding: 0 20px 2%;
	position: relative;
}

h2 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	text-align: left;
}

@media only screen and (min-width: 769px) {
	.card {
		flex: 1 25%;
	}
}

</style>